{% extends 'base.html.twig' %}

{% block title %}Commits : {{ user }}/{{ repo }}{% endblock %}

{% block body %}
    <div class="container">
        <h2><a href="{{ path('repos_user', {user: user}) }}">{{ user }}</a>/<a href="{{ path('repo_browse', {user: user, repo: repo}) }}">{{ repo }}</a></h2>
        <code>git clone {{ url('repo_browse', {user: user, repo: repo}) }}.git</code>
        <hr>
        {% if log == null%}
        <p>Aucun commit</p>
        {% else %}
        <ul>
            {% for commit in log %}
                <li>
                    <a href="{{ path('repo_browse_commit', {user: user, repo: repo, object: commit.hash }) }}">{{ commit.hash }}</a>
                    <p>{{ commit.author }}</p>
                    <p>{{ commit.date }}</p>
                    <code>{{ commit.message | nl2br }}</code>

                </li>
                <hr>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
